.CV{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 890px;
    max-width: 926px;
    margin: 10px auto;
    @include AllShadow;
    &__Hero{
        text-align: center;
        text-transform: uppercase;
        padding: 17px 60px;
        border: solid 1px #000;
        min-width: 320px;
        position: absolute;
        margin:0 auto;
        background-color: #FFF;
        font-family:$font1;
        margin-left: 12vw;
        margin-top: 20px;
    }
    &__aside{
        padding: 15px;
        padding-top: 180px;
        background-color:#F4F4F4;
        display: flex;
        flex-direction: column;
        font-family:$font1;
        h2{
            width: 100%;
            @include BorderBottom; 
        }
        h3,p{
            margin-bottom: 0;
        }  
    }
    &__main{
        padding: 15px;
        padding-top: 180px;
        display: flex;
        flex-direction: column;
        font-family:$font1;
        article{
            display: block;
            h2{
                width: 100%;
                @include BorderBottom;
            }
        } 
    } 
    
}

@media screen and (max-width: 910px){
    .CV{
        display: flex;
        flex-direction: column;
        margin: 5px;
        width: 100%;
        min-width: 2px;
        &__Hero{
            order: 1;   
            display: block;
            position: relative;
            margin: 20px auto;
            padding: 3px 8px;
        }
        &__aside{
            order: 3;
            width: 90vw;
            padding-top: 0;
            
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            &_Details{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;   
            }
            &_Skills{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 4;
            }
            &_Hobbies{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &_Languages{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            &_Details,&_Languages,&_Hobbies{
                margin-left: 10px;
            }
        }
        &__main{
           order: 2;
           display: flex;
           width: 90vw;
           margin-right: 0;
           margin-top: 10px;
           padding-top: 0;
           p{
               height: auto;
               width: 100%;
               display: flex;
               flex-direction: column;
              text-overflow: unset;
           }
        }
    }   
} 

@media screen and (max-width: 425px){
    .CV{
        &__Hero{
            min-width: 100px;
            width: 290px;
            padding: 3px 0;
        }
        &__aside{
            width: 100%;
            padding-top: 0;
            display: flex;
            padding: 0;
            flex-direction: column;
            &_Details,&_Languages,&_Hobbies{
                margin-left: 0;
            }
        }
    }   
} 

.Download{
    display: flex;
    justify-content: center;
    button{
        margin: 20px;
        @include ButtonBlack;
        &:hover{
            @include ButtonBlackHover;
        }
    }
}