//Variables
$font1 : ui-sans-serif, system-ui, "-apple-system", "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "BlinkMacSystemFont", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$complementary-color:#F5F5F5;

//mixins
@mixin Title1 {
    font-family:$font1;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 86px;
}

@mixin Title2 {
    font-family:$font1;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
}

@mixin Title3 {
    font-family:$font1;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 41px;
}

@mixin Text {
    font-family:$font1;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 29px;
}

@mixin Shadow {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@mixin AllShadow {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin BorderBottom {
       border-bottom-width:1px ;
        border-bottom-style: solid;
        border-bottom-color: #000;
}

@mixin Border {
    border:2px solid #000;
    padding: 2px;
}

@mixin Button{
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $font1; 
    font-weight:700;
    line-height: 25px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);

    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

@mixin ButtonHover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
     -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
         transition: all .4s ease-in-out;
}

@mixin ButtonBlack{
    @include Button;
    border:solid 2px #fff;
    background: #1f1f1f;
    color:#F4F4F4;
}

@mixin ButtonWhite{
    @include Button;
    border:solid 2px #1f1f1f;
    background:#F4F4F4;
    color:#1f1f1f;
}

@mixin ButtonBlackHover {
    @include ButtonHover;
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f 
}

@mixin ButtonWhiteHover{
    @include ButtonHover;
    border:solid 2px #1f1f1f;
         background: #1f1f1f;
         color: #fff;
}