.Navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    ul{
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        margin-right: 20px ;
        li{
            text-decoration: none;
            float: left;
            margin-right: 10px;
            @include Title3;
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }
    a{
        margin: 0 5px 0 5px;
        text-decoration: none;
        color:#000;
        span{
            @include Title1;
            margin-left: 15px;
            border: 1px solid #000;
        }
    }
}